.top_comic_show_page{
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 14%;
    position: relative;
    
    &::after{
        content: "";
        width: 100%;
        height: 80px;
        background-color: $main_color;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .show_cover{
        position: absolute;
        width: 200px;
        left: 20%;
        bottom: 20px;
        border: 1px solid white;
        z-index: 10;

        img{
            width: 100%;
        }

        h6{
            margin: 0;
            padding: 4px;
            text-align: center;
            color: white;
            background-color: #00a9d9;
        }

        .tag{
            padding: 4px 10px;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            font-weight: bold;
            color: white;
            background-color: $main_color;
            opacity: 0.9;
        }
    }
}

/////////////////////////
//middle_comic_show_page
.middle_comic_show_page{
    color: #003f5e;

    h2{
        text-transform: uppercase;
        font-weight: bolder;
    }

    .show_available{
        display: flex;
        justify-content: space-between;
        color: white;

        .price{
            width: 70%;
            padding: 12px;
            display: flex;
            justify-content: space-between;
            border-right: 1px solid #003f5e;

            span:last-child{
                opacity: 0.75;
            }
        }

        .check_available{
            padding: 12px;
        }

    }

    .description{
        padding-top: 20px;
        padding-bottom: 60px;
    }
}

////////////////////////
//lower_comic_show_page
.lower_comic_show_page{
    padding-top: 40px;
    padding-bottom: 90px;
    color: #003f5e;
    background-color: #f6f6f6;

    h4{
        font-weight: bolder;
    }
    .informations{
        padding: 0 20px;
    }

    .information{
        display: flex;

        dt{
            width: calc(100% / 3);
        }
    }
}
