.top_comic_page{
    nav{
        background-color: black;
        
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left{
                background-color: $main_color;
                color: white;
                padding: 12px;
                position: relative;
                top: -30px;
            }

            .right{
                a{
                    padding: 0 10px;
                    color: lightgrey;
                    text-transform: uppercase;
                }

                .active{
                    color: $main_color;
                }

            }
        }
    }

    .comics{
        padding-bottom: 20px;
        background-color: black;
        width: 100%;
        display: flex;
        justify-content: space-around;

        .comic_wrapper{
            position: relative;

            .tag{
                background-color: $main_color;
                color: white;
                padding: 8px;
                text-transform: uppercase;
                position: absolute;
                top: 0;
                left: 0;
            }

            .series, .available{
                margin: 0;
                padding: 2px 0;
            }
            .series{
                margin-top: 8px;
                color: white;
                text-transform: uppercase;
            }
            .available{
                color: $main_color;
            }
        }
    }

}

/////////////////////
//middle_comic_page

.middle_comic_page{
    h2{
        margin-left: 50px;
        color: $main_color;
        font-weight: bolder;
    }
}