.big_tag{
    background-color: $main_color;
    color: white;
    padding: 12px;
    position: relative;
    top: -30px;
}

.top_comic_page{
    padding-top: 40px;

    nav{
        background-color: black;
        
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .right{
                a{
                    padding: 0 10px;
                    color: lightgrey;
                    text-transform: uppercase;
                }

                .active{
                    color: $main_color;
                }

            }
        }
    }

    .comics{
        padding-bottom: 20px;
        background-color: black;
        width: 100%;
        display: flex;
        justify-content: space-around;

        .comic_wrapper{
            position: relative;

            .tag{
                background-color: $main_color;
                color: white;
                padding: 8px;
                text-transform: uppercase;
                position: absolute;
                top: 0;
                left: 0;
            }

            .series, .available{
                margin: 0;
                padding: 2px 0;
            }
            .series{
                margin-top: 8px;
                color: white;
                text-transform: uppercase;
            }
            .available{
                color: $main_color;
            }
        }
    }

}

////////////////////
//middle_comic_page

.middle_comic_page{
    h2{
        margin-left: 50px;
    }
    h2, h5, h6{
        font-weight: bolder;
    }
    h2, h6{
        color: $main_color;
    }
    
    .article{
        width: calc(100% / 4);
        margin-right: 20px;

        img{
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

////////////////////
//lower_comic_page
.lower_comic_page{
    background-color: black;

    .big_tag{
        width: 270px;
        top: -50px;
    }

    .current_series{
        padding: 10px;

        img{
            width: 100%;
        }

        h6{
            margin: 12px 0;
            font-size: 12px;
            color: white;
        }
    }
}