@mixin flex_around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer{
    .buy_bar{
        padding: 60px 100px;
        background-color: $main_color;

        .container{
            @include flex_around;

            .buy_element{
                @include flex_around;

                a{
                    color: white;
                    text-transform: uppercase;
                    margin-left: 8px;
                }
            }
        }
    }
}