header{
    .nav_top{
        background-color: $main_color;
        padding: 0 24px;

        .first{
            background-color: white;
        }

        .top_link{
            width: 160px;
            padding: 8px 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1px solid white;
            border-right: 1px solid white;
        }
    }

    .main_nav{
        background-color: white;
        padding: 30px 0;

        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .middle_nav{
                ul{
                    list-style: none;
                    li{
                        display: inline-block;
                        padding: 0 12px;

                        a{
                            color: black;
                            font-size: 16px;
                            font-weight: bolder;
                        }
                    }
                }
            }

            .right_nav{
                position: relative;

                input{
                    padding-right: 40px;
                    border: none;
                    border-bottom: 2px solid $main_color;
                    text-align: right;
                    color: black;
                    font-size: 14px;
                }
                img{
                    position: absolute;
                    right: 10px;
                }
            }
        }
    }
}
